.team {
  display: flex;
  line-height: 1.2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../Images/png/bgk-header.png");
  min-height: 30rem;
  color: white;
}
.headline {
  padding-block-start: 1rem;
  font-style: inherit;
}
.underheadline {
  padding-block-start: 1rem;
  font-family: hammersmith;
  font-style: inherit;
}
.belowheadline {
  padding-block-start: 0.3rem;
  margin-bottom: 2rem;
  font-size: xx-small;
}

/* Four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 8px;
  text-align: center;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 50%;
    display: flow-root;
    margin-bottom: 1rem;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-color: white;
  border-width: 0.01em;
  border-style: solid;
  border-top: none;
}

/* Some left and right padding inside the container */
.container {
  font-size: xx-small;
  padding: 0rem 1rem 0.1rem 1rem;
  line-height: 0.7rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}

/* Clear floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
  padding: 0;
}

.card:hover {
  background-color: #555;
}
.dreamteam {
  padding-top: 2.5rem;
}

button {
  color: #03c5bd;
  background-color: transparent;
  border-style: solid;
  border-width: 0.1rem;
  border-color: #03c5bd;
  padding: 0.5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

button:hover {
  background-color: #03c5bd;
  color: white;
}
